body {
  margin: 0;
  padding: 0;
  font-family: "Besley", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
}

.form_bg{
  background-color: #3333336d;
  color: #fff;
}

button{
  border: none;
}

.fixed_nav {
  position: fixed;
  top: 0;
  right: 0;
  margin: auto;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  color: rgb(255, 255, 255);
  /* padding-bottom: 10px; */
  padding-left: 40px;
  padding-right: 10px;
  background: transparent;
  transition: 0.4s;
}
a {
  text-decoration: none !important;
  color: rgb(255, 255, 255) !important;
}

.mid_nav {
  padding-top: 20px;
  width: 40%;
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
}

#landing_page {
  position: relative;
  /* background-image: url("../../public/pics/bg5.jpg"); */
  background-image: url("../../public/pics/bg5.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}
.landing_text {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 40px;
  margin: auto;
  background: rgba(2, 2, 2, 0.363);
  padding: 5px;
  width: 100%;
  text-align: justify;
  color: rgb(36, 226, 93);
}

.get-in {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.685);
}

.inp {
  width: 90%;
  height: 30px;
  outline: none;
  border-radius: 2px;
  border: 1px solid rgb(199, 199, 199);
  padding-left: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}
.wrong_text {
  display: none;
  color: red;
}
.box {
  background-color: rgb(255, 255, 255);
  min-height: 230px;
  width: 600px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pswd_msg {
  color: red;
  display: none;
}

.btn {
  margin: 5px;
}

.btn2 {
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 3px;
  background-color: rgb(145, 230, 19);
  cursor: pointer;
  transition: 0.2s;
  margin-top: 20px;
}

.btn2:hover {
  /* border: 1px solid black; */
  transition-timing-function: linear;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#img_div {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img_container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border: 6px solid rgb(255, 255, 255);
  border-radius: 80%;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.fa-user {
  font-size: 100px;
}
.sl {
  display: inline;
}

#pattern {
  padding: 7px;
  font-size: smaller;
  border-radius: 50px;
  background-color: rgb(117, 115, 115);
  color: #fff;
  cursor: pointer;
}

#about {
  /* background-color:rgb(235, 235, 235); */
  min-height: 100vh;
}

#about > div {
  padding: 20px;
  background-color: #fff;
  width: 80%;
  height: auto;
  box-shadow: 0 0 5px rgb(163, 163, 163);
  border-radius: 5px;
}

#line_seperation {
  margin-bottom: 20px;
  margin: auto;
  background-color: rgb(8, 129, 8) !important;
  height: 7px;
  width: 20%;
  border: none;
  border-radius: 5px;
  z-index: 1;
}

#about_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.card-div {
  /* min-width: 280px; */
  width: 270px;
  padding: 10px;
  margin: auto;
  /* background-color: rgba(7, 32, 17, 0.692); */
  background-color: #fff;
  height: 450px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(132, 132, 132);
  margin-top: 10px;
  margin-bottom: 20px;
  transition: 0.4s;
}

.card-div:hover {
  transform: scale(1.05);
  transition-timing-function: linear;
}

.card > h2 {
  color: rgb(0, 0, 0);
}

.card_details {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.fa-check-circle {
  color: #038f31;
}

.card-img {
  margin: auto;
  height: 200px;
  width: 100%;
  object-fit: fill;
  border-radius: 15px !important;
}

.card-content {
  font-size: small;
  padding-right: 10px;
  display: flex;
  justify-content: space-evenly;
}

.small_box2 {
  height: 50px;
  width: 60px;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
}
.small_box2:nth-child(1) {
  background-color: #86f7ff;
}
.small_box2:nth-child(2) {
  background-color: #b57bcf;
}
.small_box2:nth-child(3) {
  background-color: #7effa9;
}


#add_recipe {
  margin: auto;
  background-image: url("../../public/pics/add_recipe_bg.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.add_recipe_content {
  float: right;
  width: 40%;
  border: 1px solid #fff;
  box-shadow: 0 0 5px #fff;
  /* background-color: rgba(255, 255, 255, 0.089); */
  margin: 20px;
  border-radius: 15px;
}

.add_recipe_upperdiv {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 50%;
  display: flex;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
}

.add_recipe_lowerdiv {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}
.add_recipe_lowerdiv > h1 {
  font-size: xx-large;
  color: rgb(142, 223, 146);
}
.add_recipe_lowerdiv > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
#share_recipe_btn {
  margin: auto;
  height: 50px;
  width: 80%;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-top: 10px;
  background-color: #198754;
  text-align: center;
}

#share_recipe_btn:hover {
  transition: 0.3s;
  color: #fff;
  background-color: #018d2f;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu {
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  color: #ffffff;
}

.cross {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 80px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  color: #198754 !important;
}

.link {
  font-size: 16px;
  color: #22ff00 !important;
}

.side-menu {
  display: none;
}

li {
  list-style-type: none;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 50px !important;
}

@media screen and (min-width: 280px) and (max-width: 880px) {
  section {
    margin-top: 50px;
  }
  /* #landing_page {
      background-image: url("../../public/pics/");
    } */

  .fixed_nav {
    display: none;
  }
  .landing_text {
    background: rgba(2, 2, 2, 0.527);
    padding: 5px;
    width: 90%;
    text-align: justify;
    color: aliceblue;
  }

  .about_details {
    width: 100%;
  }
  .about_details_text {
    width: 90%;
  }
  #line_seperation {
    width: 60%;
  }

  .box {
    width: 90%;
  }

  .signup-container {
    grid-template-columns: repeat(1, 100%);
    grid-template-areas:
      "div1"
      "div2";
  }
  .add_recipe_content {
    width: 90%;
  }
  .add_recipe_lowerdiv > h1 {
    font-size: large;
    color: rgb(142, 223, 146);
  }
  #add_recipe {
    justify-content: center;
  }
}

.form_container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login_form {
  background-image: url("../../public/pics/login_bg.jpg");
  background-position: center;
  background-size: cover;
}
#signup_form {
  background-image: url("../../public/pics/signup_bg.jpg");
  background-position: center;
  background-size: cover;
}
#admin_form {
  background-image: url("../../public/pics/admin_bg.jpg");
  background-position: center;
  background-size: cover;
}

.form-div {
  height: auto;
  width: auto;
  padding: 10px;
  color: #fff;
  background-color: #2626266b;
  border-radius: 4px;
  line-break: auto;
}
.clr-div {
  height: 37px;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  margin-bottom: 10px;
  padding-left: 5px;
  color: black;
}

#signup_form_div {
  min-width: 60%;
  max-width: 90%;
}

.mb-3 {
  background-color: transparent;
}
